N8N_LOCAL_URL=http://localhost:5678
PYTHON_API_BASE_URL=http://host.docker.internal:8000
GOOGLE_SHEET_ID=1GlrDyHe7haN22Z1fU0JPbWfbh0bgEswAqBZNwE3-apc
TELEGRAM_CHAT_ID=
TELEGRAM_BOT_TOKEN=
NOTION_TOKEN=
NOTION_DATABASE_ID=
